/* 
    Document   : estilo_main
    Created on : 18/06/2014
    Author     : Edson Jonathan Franco Borja
    Description: Estilo de la estructura principal del portal
*/

body{
    width: 100%;
    height: auto;
    padding: 0px; 
    margin: 0px; 
    color: #666666; 
    font-family: Arial;
}

@font-face {
    font-family: Lego;
    src: url('../fonts/Lego.ttf');
}

/* Header (Cabecera) */
#header{
    background: url('../images/Main/Header/background.png') repeat-x;
    width: 100%;
    height: 50px;
    padding: 0px;
}

    #header_contenido{
        width: 69%;
        height: 50px;
        margin: auto;
    }

    
        #header_titulo{
            width: 35%;
            height: 50px;
            float: left;
            font-family: Lego;
            padding-top: 10px;
            color: #000000;
            margin: auto;
        }

            #header_titulo div{
                float: left;
                padding-top: 10px;
            }

            #header_titulo img{
                width: 40px;
                height: 40px;
                padding-left: 30px;
            }

            
        #header_opciones{
            width: 65%;
            height: 50px;
            float: right;
            margin: auto;
            padding-top: 12px;
        }
    
            #inicio_header{
                float: right;
                width: auto;
                height: 30px;
                margin-left: 15px;
                line-height: 32px;
                text-align: center;
                font-weight: bold;
                font-size: 12px;
                margin-top: 3px;
                border-left: 2px #666666 solid;
            }

                #inicio_header img{
                    float:left;
                    width: 22px;
                    height: 18px;
                    padding-top: 4px;
                    padding-left: 9px;
                    padding-right: 6px;
                }

                #inicio_header div{
                    float:left;
                }
                
                #inicio_header #usuario{
                    float:left;
                    width: auto;
                    text-align: left;
                }
                
                .drop_menu {
                    padding:0;
                    margin:0;
                    list-style-type: none;
                    height:30px;
                }

                .drop_menu li { 
                    float:left; 
                }

                .drop_menu li a {
                    display:block;
                    text-decoration:none;
                    color: #666666;
                }

                .drop_menu li a:hover {
                    text-decoration:none;
                    color: #ff0000;
                }
                
                /* Submenu */
                .drop_menu ul {
                    position:absolute;
                    left:-9999px;
                    top:-9999px;
                    list-style-type:none;
                }

                .drop_menu li:hover { 
                    position:relative;
                }

                .drop_menu li:hover ul {
                    left:0px;
                    top:30px;
                    background: url('../images/Main/Header/fondo_login.png') no-repeat;
                    width: 195px;
                    height: 190px;
                    padding:0px;
                }

                .drop_menu li:hover ul li a {
                    display:block;
                    width:168px;
                    text-indent:15px;
                    background-color: #ffffff;
                }

                .drop_menu li:hover ul li a:hover { 
                    height: 150px;
                }
               
                #header_login{
                    width: auto;
                    height: auto;
                    padding: 10px;
                    overflow: hidden;
                    text-align: left;
                    border: 0px;
                }
                
                #header_login label{
                    width: 150px;
                }
                
                #header_login input{
                    width: 150px;
                    position: relative;
                    top: -10px;
                }
         
                .input_login{
                    background: url('../images/Main/Header/fondo_input_login.png') no-repeat;
                    width: 165px;
                    height: 30px;
                    border: 0px;
                    padding: 1px 5px;
                }
                
                .btn_ingresar{
                    background: url('../images/Main/Header/btn_ingresar.png') no-repeat;
                    width: 120px;
                    height: 30px;
                    border: 0px;
                    float: right;
                    margin-right: 3px;
                    text-align: center;
                    color: #666666;
                    font-weight: bold;
                    font-family: Arial;
                    font-size: 12px;
                    cursor: pointer;
                    position: relative; 
                    top: -5px; 
                }
                
                #olvido_contrasena{
                    font-size: 11px; 
                    cursor: pointer; 
                    position: relative; 
                    top: -10px; 
                    margin-right: 5px;
                }
                
                #olvido_contrasena p:hover{
                    color: #ff0000;
                }
                
                
                
               
            .menu_header{
                float: right;
                width: auto;
                height: 45px;
                line-height: 38px;
                text-align: center;
                font-weight: bold;
                font-size: 12px;
            }

                .opcion{
                    float: right;
                    width: auto;
                    height: 45px;
                    margin-left: 15px;
                    line-height: 38px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 12px;
                }

                .opcion a{
                    color: #666666;
                    text-decoration: none;
                }

                .opcion a:hover{
                    color: #ff0000;
                }

                .opcion a:active{
                    color: #ff0000;
                }
                

/* Main (Contenido) */
#main{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto; 
}

    /* Seccion Superior */
    #seccion_superior{
        background: url('../images/Main/Contenido/Superior/cursos_slider.jpg') no-repeat;
        width: 100%;
        height: 600px;
        padding: 0px; 
        margin: auto; 
    }
    
        #seccion_superior_contenido{
            width: 69%;
            height: auto;
            overflow: hidden;
            margin: auto;
            padding-top: 150px;
        }
        
            .filas{
                width: 100%;
                height: auto;
                overflow: hidden;
                padding-top: 20px;
            }
            
                #slogan_publicidad{
                    float: right;
                    font-size: 50px;
                    width: auto;
                    color: #a30b18;
                    font-weight: bold;
                }
        
                #buscador{
                    float: right;
                    width: 280px;
                }

                .input_buscador{
                    background: url('../images/Main/Contenido/Superior/buscador.png') no-repeat;
                    border: 0px;
                    width: 190px;
                    height: 32px;
                    padding-left: 16px;
                    padding-right: 16px;
                    float: left;
                    margin-top: 10px;
                    z-index: 1;
                    position: relative;
                    line-height: 30px;
                    left: 22px;
                }

                .img_buscador{
                    position: relative;
                    top: 11px;
                    left: 10px;
                    z-index: 99;
                }                    

    /* Seccion Inferior */
    #seccion_inferior{
        background: url('../images/Main/Contenido/Inferior/background.png') repeat-x;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
        #seccion_inferior_contenido{
            width: 69%;
            height: auto;
            overflow: hidden;
            margin: auto;
        }
    
            .cursos_destacados{
                width: 300px;
                float: left;
                height: auto;
            }

            .espacio_cursos_destacados{
                width: 10px;
                float: left;
            }
    
                .titulo_curso_destacados{
                   background: url('../images/Main/Contenido/Inferior/titulo_curso.png') no-repeat;
                   float: left;
                   width: 300px;
                   height: 50px;
                   margin-top: 8px;
                   line-height: 38px;
                   text-align: center;
                   font-weight: bold;
                   font-size: 12px;
                   color: #ff0000;
                }

                .cuerpo_curso_destacados{
                    background: url('../images/Main/Contenido/Inferior/gradiente_recuadro.png') repeat-x;
                    border-left: 1px solid #cccccc;
                    border-right: 1px solid #cccccc;
                    padding-top: 35px;
                    font-size: 11px;
                    width: 287px;
                    margin-top: 25px;
                    margin-left: 5px;
                }

                    .footer_curso_destacados{
                        background: url('../images/Main/Contenido/Inferior/footer_recuadro.png') repeat-x;
                        border: 0px;
                        width: 290px;
                        height: 6px;
                        margin-left: 5px;
                    }

                    .boton_curso_destacados{
                        background: url('../images/Main/Contenido/Inferior/bg_boton.png') repeat;
                        border: 0px;
                        width: 289px;
                        height: 20px;
                        margin-left: 5px;
                        margin-top: 15px;
                        padding-top: 5px;
                        font-size: 12px;
                        text-align: center;
                        color: #ffffff;
                    }

                    .cuerpo_curso_destacados img{
                        width: 230px;
                        height: 150px;
                        padding: 0px 30px;
                    }

                    .cuerpo_curso_destacados .descripcion{
                        padding: 10px 30px;
                        width: 230px;
                        height: auto;
                        text-align: justify;
                    }

                    .cuerpo_curso_destacados .fecha{
                        padding-bottom: 3px;
                        padding-left: 25px;
                        width: 235px;
                        height: auto;
                        text-align: right;
                        font-weight: bold;
                    }
    
    

/* Footer */
#footer{
    background: url('../images/Main/Footer/background.png') repeat-x;
    width: 100%;
    height: 30px;
}